# Copy to .env.local and update as required

# NHS Digital API credentials <https://developer.api.nhs.uk/>
NHSDIGITAL_ODATA_SUBSCRIPTION_KEY=

# Geonames web services <https://www.geonames.org/export/web-services.html>
NEXT_PUBLIC_GEONAMES_USERNAME=

# Limit the amount of dentists that are loaded. Useful for development
MAX_DENTISTS=1000