{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier",
    "plugin:jsx-a11y/strict"
  ],
  "rules": {
    // This rule is deprecated and is 'off' in the latest definition of the strict config, which is currently unreleased
    "jsx-a11y/label-has-for": "off"
  }
}